@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quattrocento&display=swap');

a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Lobster', cursive;;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.sub-auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 5px auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-self: space-around;
}

.item{
  width: 32%;
  margin: 0.5%;
}
.home{
  
}
.home-card{
  margin: -1px auto;
  max-width: 650px;
  height: max-content;
}

#collection-item{
  width: 100%;
}

#toast-container{
  top:70px !important;
  right:20px !important;
  left: auto !important;
}

.material-icons:hover{
  cursor: pointer;
}

.layer {
  background-color: rgba(255,248,220, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#col-2{
  position: relative;
width: 35%;
float: left;
height: 100%;
z-index: 1010101010;
background-color:#6f4e37;
display: flex;
justify-content: center;
align-items: center;
font-size: 3cm;
font-family: 'Optima', sans-serif;
color:  #FFFCC7;



}

#leftbox {
  float:left; 
  background:Red;
  width:25%;
  height:280px;
}
#middlebox{
  float:left; 
  background:Green;
  width:50%;
  height:280px;
}
#rightbox{
  float:right;
  background:blue;
  width:25%;
  height:280px;
}

