<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../CSS/login.css">
    </head>
    <body>
        <div class="formclass">
            <form action="" method="post"> 
                <div class="container">
                    <label for="uname">Username</label>
                    <input type="text" placeholder="Username" name="uname" required>
                </div>
                <div class="container">
                    <label for="psw">Password</label>
                    <input type="password" placeholder="Password" name="psw" required>
                </div>
                <div class="container"></div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>


