<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="../CSS/register.css">
    </head>
    <body>
        <div class="formclass">
            <div class="website">
                Coffee
            </div>
                <div class="wrapper">
                    <form action="" method="post"> 
                        <div class="container">

                            <div class="container">
                                <label for="name">Name</label>
                                <input type="text" placeholder="Name" name="name" required>
                            </div>

                            <div class="container">
                                <label for="dob">DOB</label>
                                <input type="date" placeholder="Date of birth" name="dob" required>
                            </div>

                            <div class="container">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email" name="email" required>
                            </div>

                            <div class="container">
                                <label for="uname">Username</label>
                                <input type="text" placeholder="Username" name="uname" required>
                            </div>

                        <div class="container">
                            <label for="psw">Password</label>
                            <input type="password" placeholder="Password" name="psw" required>
                        </div>

                        <div class="container"></div>
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>
        </div>
    </body>
</html>


