<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/login1.css">
        <link rel="stylesheet" type="text/css" href="/css/login2.css">


    </head>
    <body>
        <div class = "left"></div>
        <div class="right">
            <div class="log-form">
                <h2>Login to your account</h2>
                <form action="/login" method="POST">
                <input type="text" title="username" placeholder="username" name="username" required />
                <input type="password" title="password" placeholder="password" name="password" required/>
                <button type="submit" class="btn">Login</button>
                <a class="forgot" href="#">Forgot Username?</a>
                </form>
            </div><!--end log form -->
        </div>
    </body>
</html>


