body{
    background-image: url("../IMAGES/coffee.jpg");
    
}
.formclass {
    height: 10cm;
    width: 20%;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #F5F5DCF2;
  }

  .website{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: #540000;
      color:  #FFFCC7;
      text-align: center;
      margin: 10px 10px;
      font-size: 3em;
      border: 3px solid brown;
  }
 
  .wrapper{
    position: fixed;
    height: 60%;
    width: 100%;
    position: fixed;
    bottom: 10%;
    text-align:center;

  }
  .container{
      margin: 10px 10px;
      justify-content:center;
      text-align: center;
  }
  button{
      margin: 0 auto;
      width: 75%;
      background-color: #D1D1A9;
  }
  label{
      margin: 20px 10px;
  }